.header {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary, 0.8),
      rgba($color-primary-light, 0.7)
    ),
    url(../img/shaah-shahidh--subrrYxv8A-unsplash.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;

  color: $color-grey-light-1;
  //   justify-content: space-between  ;
  &__content {
    margin-left: 15rem;
  }
  &__btn-container {
    color: #fff  ;
    margin-top: 2.5rem;
   
  }
}
