.about {
  //   width: 100%;
  overflow: hidden;
  height: 85vh;
  position: relative;
  background-image: linear-gradient(
      to top right,
      rgba($color-grey-dark-1, 0.9),
      rgba($color-grey-dark-3, 0.9)
    ),
    url(../img/IMG-20210723-WA0008.jpg);
  background-size: cover;
  clip-path: polygon(100% 0, 100% 86%, 0 73%, 0 0);
  // padding: 2rem;
  &__heading {
    margin-bottom: 10rem;
    position: absolute;
    top: 1%;
    left: 90%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  &__text {
    display: inline-block;
    margin-top: 10rem;
    padding: 2rem;
    font-size: 1.8rem;
    color: $color-grey-light-1;
  }
}
