.objectives {
  position: relative;
  height: 80vh;
//   padding: 2rem;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__text {
    margin: 1rem 5rem;
    color: $color-grey-dark-2;
  }
  &__description {
    // display: inline-block;
    font-size: 2rem;
  }
  &__title {
    display: inline-block;
    color: $color-grey-dark-1;

    // margin: 2rem;

    font-size: 3.5rem;
  }
  &__icon {
    height: 5rem;
    width: 5rem;
    // fill: $color-primary;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--1 {
      fill: $color-primary;
    }
    &--2 {
      fill: #5ec576;
    }
    &--3 {
      fill: #ff585f;
    }
  }
  &__icon-container {
    position: relative;
    // // margin-bottom: 5rem;

    // border-radius: 50%;
    // width: 15rem;
    margin-top: 2.5rem;
    margin: 3rem;
    // height: 7.2rem;
    // flex-basis: 30%;
  }
  &__content {
    margin: 5rem;
    display: none;
    &--active {
      display: flex;
    }
  }
  &__heading {
    margin-bottom: 12rem;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0%);   
    width: 70rem; 
  }
  &__tabs {
    margin-top: 12rem;
    // height: 20rem;
    flex: wrap;
    width: 80%;
    position: relative;
    height: 40rem;
  }
  &__tabs-container {
    position: absolute;
    top: -10%;
    left: 15%;
  }
}
